body{
    background-color: aqua;
    background-image: linear-gradient(to bottom left, rgb(255, 255, 255), rgb(110, 124, 136));
    margin-top: 15px;
    height: 700px;
}

.volver a{
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.384);
    border: 1px white solid;
}

.volver :hover{
    background-color: rgba(255, 0, 76, 0.356);
    border: 1px rgb(0, 0, 0) solid;
}

.texto{
    background-color: rgba(255, 255, 255, 0.185);
    width: auto;
    height: 100px;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    border: 1px white solid;
}

.texto h1{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.texto2 p1,p2{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

div.objetos{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

div.card {
    width: 350px;
    height: 400px;
    text-align: center;
    border-radius: 10px;
}

div.header {
    display: flex;
    background-color: rgba(255, 255, 255, 0.363);
    color: rgb(0, 0, 0);
    height: 300px;
    padding: 50px;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px rgb(255, 255, 255) solid;
}

div.header:hover{
    background-color: rgba(255, 0, 0, 0.13);
    border: 1px rgb(0, 0, 0) solid;
}

div.header p{
    font-size: 18px;
}